
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #222;
}

nav a {
    margin-left: 25px;
    font-size: 16px;
    color: #333;
    transition: 0.3s;
}

nav a:hover {
    color: #007bff;
}

.hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 45px;
    font-weight: 700;
}

.hero p {
    margin-top: 15px;
    font-size: 20px;
    color: #555;
}

.hero button {
    margin-top: 25px;
    padding: 12px 30px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #0056b3;
}


#about {
    padding: 70px 0;
    text-align: center;
}

#about h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    color: #555;
}


#skills {
    padding: 70px 0;
}

#skills h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
}


#projects {
    padding: 70px 0;
}

#projects h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card a {
    color: #007bff;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
}


#contact {
    padding: 70px 0;
    text-align: center;
}

#contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
    margin-top: 40px;
}
